body
{
    background-color: black;
    background-image: url('background.jpg');
    color: white;
    font-size: medium;
}
main
{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 18px;
}
h1
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}
h2
{
    margin: 0px;
}
.behuzott
{
    text-emphasis: inherit;
}
select
{
    color: black;
}
.nyil
{
    font-size: 18px;
}
.feladat
{
    color: transparent;
    font-size: 1px;
}
.nyil
{
    color: white;
    font-size: 18px;
}
.feladat:hover
{
    font-size: 18px;
    transition: 0.3s;
    color: white;
}
.arrow
{
    height: 50px;
}
#torzs
{
    width: 500px;
}
#eredmeny{
    font-size: 24px;
}
#erdemjegy{
    font-size: 24px;
}
footer{
    text-align: center;
}
.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
}
footer
{
    position: fixed;
    bottom: 0;
    margin: auto;
    background-color:rgb(25,25,25);
    width: 100%;
    padding: 0px;
}
#orr
{
    height: 40px;
    float: right;
    padding-top: 5px;
}