body
{
    background-color: black;
    background-image: url('background.jpg');
    color: white;
}
main
{
    padding: 20px;
}
h1
{
    text-align: center;
}
.behuzott
{
    text-emphasis: inherit;
}
select
{
    color: black;
}