body
{
    background-color: black;
    background-image: url('background.jpg');
    color: white;
}
#fej
{
    width: 550px;
    margin: auto;
    height: 120px;
    border: 2px white solid;
    background-color: rgba(186, 186, 186, 0.2);
    padding: 7px;
}
h1
{
    text-align: center;
}